---
import Angular from "@shared/icons/Angular.astro";
import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import JavaScript from "@shared/icons/JavaScript.astro";
import Sass from "@shared/icons/Sass.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";
import Laravel from "@shared/icons/Laravel.astro";
import TypeScript from "@shared/icons/TypeScript.astro";
import NodeJs from "@shared/icons/NodeJs.astro";
import MySql from "@shared/icons/MySql.astro";
import Firebase from "@shared/icons/Firebase.astro";
import GitCommand from "@shared/icons/GitCommand.astro";
import Docker from "@shared/icons/Docker.astro";
import Supabase from "@shared/icons/Supabase.astro";
import Figma from "@shared/icons/Figma.astro";
import Jasmine from "@shared/icons/Jasmine.astro";
import Ionic from "@shared/icons/Ionic.astro";
import Redux from "@shared/icons/Redux.astro";
import PostCss from "@shared/icons/PostCss.astro";
import ESLint from "@shared/icons/ESLint.astro";

const widthIcons = `w-8 h-8 sm:w-10 sm:h-10 lg:w-12 lg:h-12 md:w-14 md:h-14`;
---

<article class="col-span-6 md:col-span-3 pf-content--overview relative">
  <header class="col-span-4 flex justify-start items-center">
    <h1 class="text-sm text-left text-cyan-300">
      <span>🌕</span> Stack
    </h1>
  </header>

  <section
    class="mt-16 grid grid-cols-3 sm:grid-cols-4 gap-5 [&>div]:flex 
    [&>div]:flex-col [&>div]:justify-center [&>div]:items-center 
    [&>div>p]:leading-[2em] [&>div>p]:text-xs lg:space-y-2 
    "
  >
    <div>
      <JavaScript className={widthIcons} />
      <p>JavaScript</p>
    </div>
    <div>
      <TypeScript className={widthIcons} />
      <p>TypeScript</p>
    </div>
    <div>
      <React className={widthIcons} />
      <p>React</p>
    </div>
    <div>
      <Angular className={widthIcons} />
      <p>Angular</p>
    </div>
    <div>
      <IcAstro className={widthIcons} />
      <p>Astro</p>
    </div>
    <div>
      <NodeJs className={widthIcons} />
      <p>NodeJs</p>
    </div>
    <div>
      <Laravel className={widthIcons} />
      <p>Laravel</p>
    </div>
    <div>
      <MySql className={widthIcons} />
      <p>MySql</p>
    </div>
    <div>
      <TailwindCss className={widthIcons} />
      <p>TailwindCss</p>
    </div>
    <div>
      <Sass className={widthIcons} />
      <p>Sass</p>
    </div>
    <div>
      <Firebase className={widthIcons} />
      <p>Firebase</p>
    </div>
    <div>
      <GitCommand className={widthIcons} />
      <p>Git</p>
    </div>
    <div>
      <Docker className={widthIcons} />
      <p>Docker</p>
    </div>
    <div>
      <Supabase className={widthIcons} />
      <p>Supabase</p>
    </div>
    <div>
      <Figma className={widthIcons} />
      <p>Figma</p>
    </div>
    <div>
      <Jasmine className={widthIcons} />
      <p>Jasmine</p>
    </div>
    <div>
      <Ionic className={widthIcons} />
      <p>Ionic</p>
    </div>
    <div>
      <Redux className={widthIcons} />
      <p>Redux</p>
    </div>
    <div>
      <PostCss className={widthIcons} />
      <p>PostCss</p>
    </div>
    <div>
      <ESLint className={widthIcons} />
      <p>ESLint</p>
    </div>
  </section>
</article>
