---

import HeaderTitle from "@/components/ui/HeaderTitle.astro";

import Angular from "@shared/icons/Angular.astro";
import React from "@shared/icons/React.astro";
import IcAstro from "@shared/icons/IcAstro.astro";
import JavaScript from "@shared/icons/JavaScript.astro";
import Sass from "@shared/icons/Sass.astro";
import TailwindCss from "@shared/icons/TailwindCss.astro";
import Laravel from "@shared/icons/Laravel.astro";
import TypeScript from "@shared/icons/TypeScript.astro";
import NodeJs from "@shared/icons/NodeJs.astro";
import MySql from "@shared/icons/MySql.astro";
import Firebase from "@shared/icons/Firebase.astro";
import GitCommand from "@shared/icons/GitCommand.astro";
import Docker from "@shared/icons/Docker.astro";
import Supabase from "@shared/icons/Supabase.astro";
import Jasmine from "@shared/icons/Jasmine.astro";
import Ionic from "@shared/icons/Ionic.astro";
import Redux from "@shared/icons/Redux.astro";
import PostCss from "@shared/icons/PostCss.astro";
import NestJs from "@shared/icons/NestJs.astro";
import NextJs from "@/shared/icons/NextJs.astro";

const widthIcons = `w-10 h-10 sm:w-11 sm:h-11 md:w-9 md:h-9 lg:w-12 lg:h-12 `;

---

<article 
  id="skills"
  class="col-span-6 md:col-span-3 pf-skills--overview relative animate-fade-up animate-duration-500 animate-delay-0">

  <div
      id="mouse-follower"
      class="opacity-0 pointer-events-none absolute transform-gpu -inset-px transition duration-300 rounded-3xl "
    />

  <HeaderTitle title="Stack"/>

  <section
    class="mt-16 grid grid-cols-3 sm:grid-cols-4 gap-5 [&>div]:flex 
    [&>div]:flex-col [&>div]:justify-center [&>div]:items-center 
    [&>div>p]:leading-[2em] [&>div>p]:text-xs lg:space-y-2 
    relative z-10 overflow-hidden mx-1 pb-5 "
  >

    <div class="absolute w-full h-full pointer-events-none cursor-none opacity-25 -z-10 overflow-hidden [mask-image:linear-gradient(332deg,#26292d_-266%,#00132482_74%,#fff0_116%)]">
      <div class="absolute bg-[url(/images/points-white.avif)] bg-cover w-full h-full rounded-b-3xl"></div>
    </div>

    <div class=" md:rotate-3 md:-translate-x-4 md:translate-y-3">
      <JavaScript className={widthIcons} />
      <p class="text-slate-100">JavaScript</p>
    </div>
    <div class="md:-translate-y-2 md:-translate-x-5 md:-rotate-6">
      <TypeScript className={widthIcons} />
      <p class="text-slate-100">TypeScript</p>
    </div>
    <div class="md:-translate-x-5 md:rotate-12 md:translate-y-5">
      <React className={widthIcons} />
      <p class="text-slate-100">React</p>
    </div>
    <div class="md:-translate-x-5 md:-rotate-12">
      <Angular className={widthIcons} />
      <p class="text-slate-100">Angular</p>
    </div>
    <div class="md:translate-x-16 md:-translate-y-2 md:rotate-2">
      <NextJs className={widthIcons} />
      <p class="text-slate-100">NextJs</p>
    </div>
    <div class="md:translate-x-12 md:-rotate-6">
      <IcAstro className={widthIcons} />
      <p class="text-slate-100">Astro</p>
    </div>
    <div class="md:translate-x-5 md:translate-y-5 md:rotate-2">
      <NodeJs className={widthIcons} />
      <p class="text-slate-100">NodeJs</p>
    </div>
    <div class="md:-translate-x-2 md:-rotate-2">
      <Laravel className={widthIcons} />
      <p class="text-slate-100">Laravel</p>
    </div>
    <div class="md:-translate-x-3 md:-translate-y-12 md:rotate-3">
      <MySql className={widthIcons} />
      <p class="text-slate-100">MySql</p>
    </div>
    <div class="md:-translate-x-12 md:rotate-2">
      <TailwindCss className={widthIcons} />
      <p class="text-slate-100">TailwindCss</p>
    </div>
    <div class="md:-translate-x-14 md:-rotate-45">
      <Sass className={widthIcons} />
      <p class="text-slate-100">Sass</p>
    </div>
    <div class="md:-translate-x-9 md:-rotate-[5deg]">
      <Firebase className={widthIcons} />
      <p class="text-slate-100">Firebase</p>
    </div>
    <div class="md:-translate-x-2 md:rotate-[7deg] md:-translate-y-8">
      <GitCommand className={widthIcons} />
      <p class="text-slate-100">Git</p>
    </div>
    <div class="md:-translate-x-6 md:-rotate-[7deg] md:-translate-y-3">
      <Docker className={widthIcons} />
      <p class="text-slate-100">Docker</p>
    </div>
    <div class="md:translate-x-8 md:rotate-[7deg] md:-translate-y-12">
      <Supabase className={widthIcons} />
      <p class="text-slate-100">Supabase</p>
    </div>
    <div class="md:-rotate-6">
      <Jasmine className={widthIcons} />
      <p class="text-slate-100">Jasmine</p>
    </div>
    <div class="md:-translate-y-4 md:translate-x-6 md:rotate-2">
      <Ionic className={widthIcons} />
      <p class="text-slate-100">Ionic</p>
    </div>
    <div class="md:translate-x-12 md:-translate-y-11 md:rotate-3">
      <Redux className={widthIcons} />
      <p class="text-slate-100">Redux</p>
    </div>
    <div class="md:-translate-x-1 md:-translate-y-11 md:-rotate-[30deg]">
      <PostCss className={widthIcons} />
      <p class="text-slate-100">PostCss</p>
    </div>
    <div class="md:rotate-[40deg] md:-translate-x-12 md:-translate-y-5">
      <NestJs className={widthIcons} />
      <p class="text-slate-100">NestJs</p>
    </div>
  </section>
</article>

