---
import HeaderTitle from "@/components/HeaderTitle.astro";
import InnerLine from "@/components/InnerLine.astro";

interface Props {
  class?: string
}

const { class: classList } = Astro.props as Props;

---

<section
  id="experience"
  class:list={[classList, "relative pf-experience--overview group overflow-hidden border-clip"]}
  style="content-visibility: auto;"
>

  <HeaderTitle title="Experience"/>

  <section
  class="inner-content inner-content--space overflow-hidden relative"
  >
  <div class="absolute  pointer-events-none cursor-none w-full h-full flex justify-center items-center translate-x-[18rem] opacity-30 translate-y-36">
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[170px] h-[170px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[260px] h-[260px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[350px] h-[350px]"></div>
    <div class="absolute bg-[url(/images/Orbite-eee.svg)] bg-cover bg-center w-[440px] h-[440px]"></div>
  </div>
      <InnerLine title="Web Developer" subTitle="Movii" description="2021 - Current" link="https://movii.com.co" through={false}/>
      <InnerLine title="Full Stack Developer" subTitle="Cobis" description="2020 - 2021" through={true}/>
      <InnerLine title="Software Engineer" subTitle="Bis@" description="2019 - 2020" through={true} link="https://www.bisacorporation.com/" />
      <InnerLine title="Onsite Support" subTitle="Tivit Synapsis " description="2017 - 2019" through={true} link="https://tivit.com/es/home-es/" />
      <InnerLine title="Jr. Full Stack" subTitle="Networks and Buildings" description="2017" through={true} link="https://www.ryesa.com.co/" />
  </section>
</section>

<script>
  import { mouseFollowerRun } from "@shared/lib/mouse-follower";
  mouseFollowerRun({ selector: "experience" });
</script>
