---
import { Image } from "astro:assets";
import ArrowIconEfect from "@components/ArrowIconEfect.astro";
import GitHubMove from "@/shared/icons/GitHubMove.astro";
import curriculum from "@/assets/curriculum.json";
import revertPrevCommit from "@/assets/rever-prev-commit.avif";
---

<article 
  class="relative col-span-6 md:col-span-2 pf-skills--overview group min-h-[20rem] animate-fade-up animate-duration-500 animate-delay-200">
  <a 
    href={curriculum.social.github}
    target="_blank" 
    rel="noopener noreferrer">
    
    <div class="absolute -z-50 inset-0 overflow-hidden rounded-3xl">
      <div
        class="h-full w-full [mask-image:linear-gradient(black_10%,transparent)] 
          group-hover:[mask-image:linear-gradient(black_30%,transparent)] 
          group-hover:scale-105 transition-transform transform-gpu overflow-hidden"
      >
        <Image
          src={revertPrevCommit}
          alt=""
          class="w-full h-full overflow-hidden opacity-50 filter blur-md object-cover object-center"
          width={520}
          height={480}
          decoding="async"
        />
      </div>
    </div>

    <div class="flex-col flex justify-between items-center h-full py-10 px-3">
      <GitHubMove className="text-slate-100 h-[8rem] w-[8rem] md:w-[9rem] md:h-[9rem] ml-[75%] -rotate-45 absolute top-4 right-0" />
      
      <span></span>

      <ArrowIconEfect/>
      <p
        class="text-sm md:text-sm lg:text-base text-cyan-200
          font-semibold"
        data-i18n-en={curriculum.repositoryAbout.en}
        data-i18n-es={curriculum.repositoryAbout.es}
      >
        {curriculum.repositoryAbout.en}
      </p>
    </div>
  </a>
</article>