---
const { title, subTitle, urlInner, imageProduct } = Astro.props;
const path = `/images/projects/${imageProduct}`;
---

<article
  class="inner-content h-[15rem] transition-all cursor-pointer group relative overflow-hidden hover:shadow-md"
>
  <div class="overflow-hidden rounded-[1.2rem] w-full h-[14.89rem] z-10">
    <img
      src={path}
      alt={`${title} ${subTitle}`}
      decoding="async"
      loading="lazy"
      data-sizes="(max-width: 591px) 100vw, 591px"
      data-src={`${path}`}
      srcset={`${path} 564w`}
      class="object-cover object-center w-full h-full
          transform-gpu overflow-hidden
          group-hover:animate-movedeg
          duration-300
        
          animate-movedeg
          blur-md
          opacity-80
          sm:blur-none
          sm:opacity-100
          sm:transform-none
          sm:animate-none

          transition-all duration-400
          group-hover:opacity-80
          group-hover:filter
          group-hover:blur-md
          rounded-[1.2rem]"
    />
  </div>

  <a
    href={urlInner}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`${title} ${subTitle}`}
    class="flex flex-col justify-center items-center
      absolute z-20 bottom-0 font-extrabold
      w-full h-full
      group-hover:bg-gradient-to-br 
      from-black/50 to-black/30  
      [background-image:linear-gradient(0deg,#26292d_1%,#00132482_50%,#fff0_99%)]"
  >
    <div class="relative flex flex-col gap-4 justify-between items-center text-center sm:opacity-0 sm:group-hover:opacity-100 sm:group-hover:transition-opacity">
      <div>
        <h1 class="text-brav-primary font-bold text-3xl">{title}</h1>
        <p class="text-xl text-white/70 mt-1">{subTitle}</p>
      </div>
      <div class="flex gap-4">
        <slot />
      </div>
      <div
        class="absolute inset-0 overflow-hidden pointer-events-none "
      >
        <div class="flex justify-center items-center w-full h-full transition">
          
        </div>
      </div>
    </div>

  </a>
</article>
