---
import ArrowIconEfect from "@components/ui/ArrowIconEfect.astro";

const { title, subTitle, urlInner, imageProduct } = Astro.props;
const path = `/images/projects/${imageProduct}`;
---

<article
  class="h-auto transition-all relative overflow-hidden hover:shadow-md grid grid-cols-1 sm:grid-cols-2 gap-4 rounded-[1.2rem] group pf-projects--overview"
>
  <img
    src="/backgrounds/fire-stars.svg"
    alt="Fire stars"
    class="absolute top-12 right-[50%] transform-gpu -z-10 group-hover:right-[100%] group-hover:opacity-0 transition-all duration-300"
  />

  <div
    class="w-full h-full flex flex-col justify-between gap-4 p-5 z-10"
  >
    <h1 class="stroke-text text-3xl">{title}</h1>
    <p class="text-sm text-white/70 mt-1">{subTitle}</p>

    <div class="flex gap-4">
      <slot />
    </div>
  </div>

  <div class="overflow-hidden relative rounded-[1.2rem] w-full h-[14.89rem] group/product">

    
    <img
      src={path}
      alt={`${title} ${subTitle}`}
      decoding="async"
      loading="lazy"
      data-sizes="(max-width: 591px) 100vw, 591px"
      data-src={`${path}`}
      srcset={`${path} 564w`}
      class="object-cover object-center w-full h-full
          transform-gpu overflow-hidden
          duration-300
          
          animate-movedeg
          opacity-80
          sm:blur-none
          sm:opacity-100
          sm:transform-none
          sm:animate-none
          
          transition-all duration-400
          group-hover/product:animate-movedeg
          group-hover/product:opacity-80
          group-hover/product:filter
          group-hover/product:blur-md
          rounded-[1.2rem]"
    />

    <a
      href={urlInner}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`${title} ${subTitle}`}
      class="absolute inset-0 overflow-hidden z-20
          flex flex-col justify-center items-center"
    >
      <ArrowIconEfect />
    </a>
  </div>
</article>
